** / nbproject / privado /
** / nbproject / Makefile- * .mk
** / nbproject / Paquete- * .bash
construir /
nbconstruir /
dist /
nbdist /
.nb-gradle /
/ProyectodealimentacionS-AccesoDatos/build/
/ProyectodealimentacionS-EntidadesDeNegocio/build/
/ProyectodealimentacionS-AppWeb/build/
